*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.about-section{
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
background:  url(/images/happy-young-asia-businessmen-businesswomen-meeting-brainstorming-ideas-about-new-paperwork-project-colleagues-working-together-planning-success-strategy-enjoy-teamwork-small-modern-office.jpg);
background-blend-mode: multiply;
background-color: rgb(69, 69, 69);
background-size: 100% 140%;
    color: white;
    margin: 60px 0;
}
.about-section-header1{
    font-family: "fira sans", sans-serif;
    font-size: 3.5rem;
    margin: 0;
}

.about-section-header2{
    font-family: "roboto", sans-serif;
    font-size: 1rem;
}

.home-link{
    color: white;
    text-decoration: none;
    padding: .5rem;
}

.section1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.heading1{
    font-family: "roboto", sans-serif;
    font-size: 1.1rem;
    color: #034dd6;
    font-weight: bold;
}
.heighlight{
    color: #E6A007;
}

.heading2{
    font-family: 'fira sans',sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.para{
    font-family: "roboto",sans-serif;
    font-size: 1.2rem;
    width: 40%;
    font-weight: 400;
}
.mainsection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.address{
    font-weight: 500;
    font-family: "fira sans", sans-serif;
    font-size: 1.3rem;
}
.address2{
    font-weight: 400;
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    grid-column-start: 2;
    grid-column-end: 3;
}


.section2{
    display: grid;
    grid-template-columns: 80px 200px;
    place-items: left;
    background-color: rgb(224, 246, 250);
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    border-radius: 5px;
}

.icofont-location-pin{
    color: #034dd6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.address{
    font-weight: 500;
    font-family: "fira sans", sans-serif;
    font-size: 1.3rem;
}
.address2{
    font-weight: 400;
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    grid-column-start: 2;
    grid-column-end: 3;
}


.section3{
    display: grid;
    grid-template-columns: 80px 200px;
    place-items: left;
    background-color: rgb(224, 246, 250);
    padding: 2rem 1rem;
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
    border-radius: 5px;
}

.icofont-send-mail{
    color: #034dd6;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 1rem;
}

.mainsection{
    margin: 5rem 3rem;
}

.container{
    background-color: rgb(224, 246, 250);
    padding:2.5rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    font-family: "roboto",sans-serif;
    font-weight: 400;
}
 
.form-control label{
    display: block ;
    margin-bottom: 5px;
}

.form-control input{
     border: 1px solid #c3c3c3;
     border-radius: 4px;
     display: block;
     width: 100%;
     padding: 10px;
     font-size: 1rem;
}

.form-control input:focus{
    outline: 0;

}

.form-control.sucess input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form{
    display: grid;
    grid-template-columns: 250px 250px;
    grid-gap: 1rem;
}

.form-control1{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    font-family: "roboto",sans-serif;
    font-weight: 400;
    grid-column-start: 1;
    grid-column-end: 3;
}
.form-control1 label{
    display: block ;
    margin-bottom: 5px;
}

.form-control1 input{
     border: 1px solid #c3c3c3;
     border-radius: 4px;
     display: block;
     width: 100%;
     padding: 10px;
     font-size: 1rem;
}

.form-control1 input:focus{
    outline: 0;

}

.form-control1.sucess input{
    border-color: #2ecc71;
}

.form-control1.error input{
    border-color: #e74c3c;
}

.button{
    padding: 15px 0;
    width: 200px;
    font-family: "robot", sans-serif;
    font-size: 1rem;
    background: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
}

.form-control small{
    color: #e74c3c;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
.form-control1 small{
    color: #e74c3c;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small{
    visibility: visible;
}