*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.about-section{
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
background:  url(./../images/happy-young-asia-businessmen-businesswomen-meeting-brainstorming-ideas-about-new-paperwork-project-colleagues-working-together-planning-success-strategy-enjoy-teamwork-small-modern-office.jpg);
background-blend-mode: multiply;
background-color: rgb(69, 69, 69);
background-size: 100% 140%;
    color: white;
    margin: 60px 0;
}

.about-section-header1{
    font-family: "fira sans", sans-serif;
    font-size: 3.5rem;
    margin: 0;
}

.about-section-header2{
    font-family: "roboto", sans-serif;
    font-size: 1rem;
}

.home-link{
    color: white;
    text-decoration: none;
    padding: .5rem;
}
.main-content{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 8rem;
}

.about-section-content1{
    font-size: 1rem;
    font-family: "fira sans", sans-serif;
    color:  #034dd6;
}

.about-section-content2{
    font-size: 3.5rem;
    font-family: "fira sans", sans-serif;
}
.highlight1{
    color: #034dd6;
}
.about-section-content3{
    font-size: 1.2rem;
    font-family: "roboto", sans-serif;
    line-height: 1.5rem;
    margin:  1.5rem 0;
}

.ourmoto-lists{
    display: flex;
    list-style: none;
}
.ourmoto-list{
    padding: 0 1rem;
    font-family: "fira sans",sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    border-width: 5px;
    padding-bottom:0.5rem ;
}
.ourmoto-list:hover,
.ourmoto-list:active{
  border-bottom: 3px solid  #034dd6;

}
.ourmoto-info{
    font-family: "roboto", sans-serif;
    line-height: 1.5rem;
    padding: 1rem 0;
}

.ourmoto-info1{
    /* display: none; */
}
.ourmoto-info2{
    display: none;
}
.ourmoto-info3{
    display: none;
}

.about-section2{
    display: flex;
    margin: 5rem 0;
}
.main-contentimage{
    height:400px;
    width: 500px;
    background: url(/images/group-three-modern-architects.jpg);
    background-size: cover;
    margin-left: 4rem;
    z-index: 10;
  }

 .image-content{
    background-color: aliceblue;
    padding: 1rem;
    display: grid;
    grid-template-columns: 75px 300px;
    width:fit-content;
    border-radius: 50px 0;
    margin-left: 4rem;
    margin-top: -75px;
    z-index: 20;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
 }

 .image-contentheader1{
    font-family: "fira sans", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
 }

 .image-contentheader2{
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    width: 100%;
 }

 .side-image{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .icofont-award{
    margin-bottom: 1rem;
 }

 .box-section-lists{
    background: url(/images/colleagues-giving-fist-bump.jpg);
    background-color: #002D62;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: fit-content;
    display: flex;
    justify-content:center;
    list-style: none;
    align-items: center;
    margin: 0;
    
 }

 .about-section3{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-evenly;
    vertical-align: middle;
 }
.box-section-list{
    display: grid;
    grid-template-columns: 50px 100px;
    grid-template-rows:50px 50px;
    width: 250px;
    margin: 1rem;
    justify-content: center;
    align-items: center;

}

.box-section-header1{
    font-weight: 700;
    font-family: "fira sans", sans-serif;
    font-size: 2.5rem;
    place-items: center;
    margin: 0;
    color: white;

}
.box-section-header2{
    font-family: "roboto",sans-serif;
    font-size: 1rem;
    font-weight: 600;
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    margin-top: -10px;
}
.icofont-users-alt-2{
    color: #E6A007;
}

.icofont-award{
    color: #E6A007;
    margin-bottom: -8px;
}
.icofont-file-document{
    color: #E6A007;
}
.icofont-company{
    color: #E6A007;
}